@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";

body {
  background-color: var(--background-colour);
  color: var(--foreground-colour);
}

@mixin feather-defaults($size) {
  width: $size;
  height: $size;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather {
  @include feather-defaults($feather-size);
  margin-bottom: $feather-margin-bottom;
}

.container {
  max-width: "700px";
}

#nav a {
  font-weight: bold;
  color: inherit;

  svg {
    margin-bottom: 3px;
  }
}

#nav-border {
  border-bottom: 1px solid var(--foreground-colour);
}

#main {
  margin-top: 1em;
  margin-bottom: 4em;
}

#home-jumbotron {
  background-color: inherit;
}

.font-125 {
  font-size: 125%;
}

$side-padding: 4px;

.list-posted-time {
  padding-left: $side-padding;
}

.tag-btn {
  margin-bottom: 0.3em;
  padding-right: $side-padding;
  padding-left: $side-padding;
  text-transform: uppercase;
  font-weight: bold;

  background-color: var(--background-colour);
  color: var(--foreground-colour);
}

img {
  max-width: 100%;
}
