@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";

body {
  background-color: var(--background-colour);
  color: var(--foreground-colour);
}

@mixin feather-defaults($size) {
  width: $size;
  height: $size;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather {
  @include feather-defaults(20px);
}

.container {
  max-width: "700px";
}

#nav a {
  font-weight: bold;
  color: inherit;

  svg {
    margin-bottom: 3px;
  }
}

#nav-border {
  border-bottom: 1px solid var(--foreground-colour);
}

#main {
  margin-top: 1em;
  margin-bottom: 4em;
}

#home-jumbotron {
  background-color: inherit;
}

.font-125 {
  font-size: 125%;
}

.tag-btn {
  $side-padding: 12px;

  margin-bottom: 0.3em;
  padding-right: $side-padding;
  padding-left: $side-padding;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  max-width: 100%;
}

@media screen and (prefers-color-scheme: dark) {
  .tag-btn {
    $dark-mode-btn-colour: #8e8e8e;

    border-color: $dark-mode-btn-colour;
    color: $dark-mode-btn-colour;
  }
}