<div class="social-seperator"></div>
<a class="social" href="https://github.com/rooster212">{{ partialCached "feather.html" "github" "github" }} GitHub</a>
<a class="social" href="https://gitlab.com/Rooster212">{{ partialCached "feather.html" "gitlab" "gitlab" }} GitLab</a>
<a class="social" href="https://twitter.com/Rooster212">{{ partialCached "feather.html" "twitter" "twitter" }} Twitter</a>
<a class="social" href="https://www.instagram.com/rooster212/">{{ partialCached "feather.html" "instagram" "instagram" }} Instagram</a>